

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #F2F2F2;
  color: white;
}

/*Header*/

.heading-spacing{
  background: rgb(19, 3, 46);
  display: flex;
  align-items: center;
  gap: 800px;
  margin-bottom: 80px;
  border-bottom: 1px solid black;
}

.heading-written{
  color: whitesmoke;
  margin: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: inline;
  margin: 20px;
}

a{
  color:white;
}

/*main*/

.introduction-home{
  display: flex;
  margin-bottom: 20px ;
}

.home-greeting{
  color: black;
  margin-left: 100px;
}

.my-name{
  color: #a10e0e;
  text-shadow:0 0 10px #a10e0e;
  margin-left: 10px;
}

.home-phrase-wrap{

  margin-top: 100px;
  margin-left: 500px;
  margin-bottom: 100px;
  width: 500px;
  height: 200px;
  background: #a20f0f;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 10px #a10e0e;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}


/*Home page images*/

/*<!-- The scrolling feature was adapted from https://www.youtube.com/shorts/W2yJ_IbkAyI?feature=share Accessed: 2025-01-17 -->*/

.images-homepage{
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
  gap: 20px;
  display: flex;
  height: 400px;
  overflow-x: scroll;

}

.moodboard{
  width: 600px;
}

.zenpuku{
  width: 800px;
}

.mockup-1{
  width: 9000px;
}

.fashion-magazine-1{
  width: 1000px;
}

.fashion-magazine-2{
  width: 1000px;
}

.pixel-art{
  width: 800px;
}

.pixel-game{
  width: 800px;
}

.app-title{
  color: black;
  margin-left: 100px;
  margin-bottom: 20px;


}

.app-images-homepage{
  display: flex;
  gap: 20px;
  height: 400px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  overflow-x: scroll;
}

/*image placed on About me */
.my-img {
  width: 14%;
  margin-top: -50px;
  margin-left: 1000px;
  border-radius: 20px;
  box-shadow: 0 0 30px #a10e0e;
  

}

.aboutme-paragraph{
  margin: 20px 10px 350px 20px;
  width: 600px;
}

.about-me {
  color: black;
  margin-left: 100px;
  margin-top: 100px;
}

.paragraph-background {
  margin-top: -200px;
  margin-right: 20px;
  margin-bottom: 300px;
  margin-left: 100px;
  width: 650px;
  height: 150px;
  background: #a20f0f;
  border-radius: 20px;
  padding: 1px 0px 0px 0px;
  box-shadow: 0 0 20px #a10e0e;

}


/*Contact form*/

.contact-title {
  text-align: center;
}

/*<!-- The following lines of code for the contact form were based from https://youtu.be/EzXdxvO1htA Accessed: 2025-01-17 -->*/

.wrapper {

  margin-top: 100px;
  margin-left: 600px;
  margin-bottom: 120px ;
  position: relative;
  width: 400px;
  height: 400px;
  background: rgb(32, 7, 58);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 50px #a10e0e;
}


.form-group input {
  width: 250px;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 10px;
  background: rgb(40, 9, 73);
  display: block;
  margin: 20px 10px 20px 80px;
  border-bottom: 2px solid white;
  
}

.form-group label{
  position: absolute;
  transform: translateY(10px);
  font-size: 16px;

}

.submit-button{
  position: relative;
  width: 100px;
  height: 40px;
  margin: 40px 10px 10px 100px;
  background: #a10e0e;
  box-shadow: 0px 0px 10px white;
  font-size: 16px;
  color: black;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
}


/*Footer*/

.footer {
  background: rgb(19, 3, 46);
  margin: 20px 20px 0px 0px;
  border-top: 1px solid black;
}

.footer-written {
margin-left: 20px;

}