
*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}
/*Header*/

header{
  display: flex;
  padding-left: 5%;
  align-items: center;
  background-color: #333;
  border-bottom: 2px solid black;
  grid-column: 1 / 3;
  grid-row: 1;
  justify-content: space-between;
  padding: 10px;
}

#logo {
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
  border: 2px solid black;
  padding: 5px;
}

ul{
  list-style: none;
  display: flex;
  padding-left: 0;
  align-items: center;
}

li {
  margin-left: 2rem;
}

a{
  color: white;
}

/* Navigation styling */
nav ul {
  list-style: none;
  gap: 5px;
  padding: 0;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #007acc;
  font-size: 20px;
  transition: 0.5s;
}

#dark-button{
  align-items: center;
  margin-left: 20px;
  background-color: white;
  border-radius: 100%;
  width: 40px; 
  height: 40px;
  
}

#light-button{
  align-items: center;
  margin-left: 10px;
  background-color: white;
  border-radius: 100%;
  width: 40px; 
  height: 40px;
}

body {
  
  margin: 0;
  padding: 0;
  background-color: azure;
  justify-content: center;
  align-items: center;
}

h1{
  justify-content: center;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.grid-container {

  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px;
  padding: 20px;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.fox-image{
  max-width: 75%;
}

img:hover{
  transform: scale(1.1);
  color: white;
  transition:.5s ease-in-out;
}

/* Footer */
footer {
  grid-column: 1 / 3;
  grid-row: 6;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  margin-top: 20px;
  font-size: 14px;
}

@media (max-width: 768px){
  .grid-container{
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 480px){
  .grid-container{
    grid-template-columns: 1fr;
    
  }

}
